*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Fastlane specific
/fastlane/report.xml

# Deliver temporary files
/fastlane/Preview.html

# Snapshot generated screenshots
/fastlane/screenshots

# Scan temporary files
/fastlane/test_output

# Supply store metadata
/fastlane/metadata

# Credentials
fastlane-service-account.json
firebase-service-account.json
google-services.json
GoogleService-Info.plist
